<div class="row row-cols-1">
    <div class="col">
      <p>Add new server or blueprint</p>
      <label>Server name</label>
      <input type="text"
             class="form-control" 
             [(ngModel)]="newServerName"/>
  
      <label>Server Content</label>
      <input type="text" 
            class="form-control"
            [(ngModel)]="newServerContent"/>
  
      <br/>
  
      <div class="d-grid gap-2 d-md-block">
        <button type="button"
                class="btn btn-primary btn-sm me-md-2"
                (click)="onAddServer()">
                Add Server
        </button>

        <button type="button"
                class="btn btn-info btn-sm"
                (click)="onAddBluePrint()">
          Add Server BluePrint
        </button>

      </div>
    
    </div>
  </div>
