<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- query params is bindable property of router link directive -->
      <a
        [routerLink]="['/servers', 1, 'edit']"
        [queryParams]="{ allowEdit: '1', isEdit: true }"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button type="button" class="btn btn-sm btn-primary" (click)="reload()">
      Reload Page
    </button>
    <app-edit-server></app-edit-server>
    <hr />
    <app-server></app-server>
  </div>
</div>
