<div class="card">
    <div class="card-title">
        Card Title
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <ul>
            <li><span class="card-text me-2 fw-semibold">{{serverElement?.type}}</span></li>
            <li><span class="card-text me-2 fw-semibold">{{serverElement?.name}}</span></li>
            <li><span class="card-text me-2 fw-semibold">{{serverElement?.content}}</span></li>
        </ul>
        
        
        
    </div>
</div>
