<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">

    <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#appNavbarNav"
              aria-labels="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="appNavbarNav">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('recipes', $event)">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('shopping-list', $event)">Shopping List</a>
        </li>

      </ul>

       <ul class="navbar-nav d-flex">
            <a class="nav-link dropdown-toggle" href="#" id="navbarManageOptionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarManageOptionsDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </ul>
      
    </div>
  </div>
</nav>